$center : calc(50% - 332px + 150px);
$left : 0px;
$right : calc(100% - 282px - 30px);
$smallSize:250px;
$bigSize:300px;

body{
    margin:0;
}
.bodyContainer{
    width: 100%;
}

.smallCard{
    position: absolute;
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    width: $smallSize;
    height: $smallSize;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 12px 12px 2px 1px rgb(0 0 0 / 20%);

}
.bigCard{
    position: relative;
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
    width: $bigSize;
    height: $bigSize;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 12px 12px 12px 1px rgb(0 0 0 / 20%);
    
}
.container{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 70%;
    height: 365px;
    margin: auto;
    // border: 1px solid black;
    overflow-x: hidden;
    // border-radius: 15px;
}

.smallWrap{
    width: 16rem;
    height: 15.5rem;
    position: relative;
    overflow: hidden;

    .bigTitle{
        font-size: 3em;
        margin: 0;
    }
    .bigDesciption{
        font-size: 1.5em;
        margin: 0;
    }

    .smallTitle{
        font-size: 2em;
        margin: 0;
    }

    .smallDesciption{
        font-size: 1em;
    }

}


.clickLeft{
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.clickRight{
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#hidden1{
    left:-350px;
    opacity: 0;
}
.hidden2{
    display: block;
    left: 135%;
    opacity: 0;
}

.leftArrow{
    position: absolute;
    left: 15%;
    width: 50px;
    bottom: 10px;
}
.rightArrow{
    position: absolute;
    right: 15%;
    width: 50px;
    bottom: 10px;
}
.left{
        left:$left;
        transform: perspective(800px) rotateY(12deg);
        opacity: 0.9;
    }
    
    .right{
        left:$right;
        transform: perspective(800px) rotateY(-12deg);
        opacity: 0.9;

    }
    .center{
        left: $center;
    }



//! hidden 1 left side animation
.useAnimation_Hidden1_Left{
    animation-name: Hidden1_Left;
    animation-duration: 1.5s;
  
}
@keyframes Hidden1_Left{
    100%{
        width: $smallSize;
        height: $smallSize;
        opacity: 0;
    }
}
.useAnimation_Hidden1_Right{
    animation-name: Hidden1_Right;
    animation-duration: 1.5s;
}
@keyframes Hidden1_Right{
    100%{
         left:$left;
        width: $smallSize;
        height: $smallSize;
        opacity: 1;
        transform: perspective(800px) rotateY(12deg);
         
    }
}

//! text animation big to small
.useAnimation_text_bigToSmall_p{
    animation-name: text_bigToSmall_p;
    animation-duration: 1.5s;
}
@keyframes text_bigToSmall_p{
    100%{
          font-size: 1em;
          margin-top: 1em;
          margin-bottom: 1em;
    }
}

.useAnimation_text_bigToSmall_title{
    animation-name: text_bigToSmall_title;
    animation-duration: 1.5s;
}
@keyframes text_bigToSmall_title{
    100%{
          font-size: 2em;
    }
}

//! text animation small to big
.useAnimation_text_smallToBig_p{
    animation-name: text_smallToBig_p;
    animation-duration: 1.5s;
}
@keyframes text_smallToBig_p{
    100%{
          font-size: 1.5em;
          margin: 0;
    }
}

.useAnimation_text_smallToBig_title{
    animation-name: text_smallToBig_title;
    animation-duration: 1.5s;
}
@keyframes text_smallToBig_title{
    100%{
        font-size: 3em;
        margin: 0;
    }
}


//! center animation
.useAnimation_card_2_Left{
    animation-name: card_2_Left;
    animation-duration: 1.5s;
}
@keyframes card_2_Left{
    100%{
         left:$right;
        width: $smallSize;
        height: $smallSize;
         display: block;   
         transform: perspective(800px) rotateY(-12deg);
         opacity: 0.9;      
    }
}
.useAnimation_card_2_Right{
    animation-name: card_2_Right;
    animation-duration: 1.5s;
}
@keyframes card_2_Right{
    100%{
         left:$left;
        width: $smallSize;
        height: $smallSize;
        transform: perspective(800px) rotateY(12deg);
        opacity: 0.9;
         
    }
}

//! right animation

.useAnimation_card_1_Right{
    animation-name: card_1_Right;
    animation-duration: 1.5s;
}
@keyframes card_1_Right{
    100%{
        left:-115%;
        width: $smallSize;
        height: $smallSize;
        

    }
}

.useAnimation_card_1_Left{
    animation-name: card_1_Left;
    animation-duration: 1.5s;
}
@keyframes card_1_Left{
    100%{
        left:$center;
        width: $bigSize;
        height: $bigSize;
        transform: perspective(800px) rotateY(0deg);
        box-shadow: 12px 12px 12px 1px rgb(0 0 0 / 20%);
    }
    
}

//! hidden 2 right side animation
.useAnimation_hidden2_Left{
    animation-name: hidden2_Left;
    animation-duration: 1.5s;
}
@keyframes hidden2_Left{
    100%{
        display: block;
        left: $right;
        width: $smallSize;
        height: $smallSize;
        opacity: 1;
        transform: perspective(800px) rotateY(-12deg);
         
    }
}

//! Right Card number 3 animation
.useAnimationLeftCard_3_Left{
    animation-name: Card_3_Left;
    animation-duration: 1.5s;
}
@keyframes Card_3_Left{
    100%{
        left: 135%;
        width: $smallSize;
        height: $smallSize;
        opacity: 0;
         
    }
}

.useAnimationLeftCard_3_Right{
    animation-name: Card_3_Right;
    animation-duration: 1.5s;
}
@keyframes Card_3_Right{
    100%{
        left:$center;
        width: $bigSize;
        height: $bigSize;
        transform: perspective(800px) rotateY(0deg);
        box-shadow: 12px 12px 12px 1px rgb(0 0 0 / 20%);
    }
}


@media only screen and (max-width:1360px) {
    $right :calc(100% - 212px - 69px) !global;     
    $center: calc(53.5% - 334px + 150px) !global;
    $smallSize:220px !global;
    $bigSize:250px !global;
    
        .smallCard{
            width: $smallSize;
            height: $smallSize;
        }

        .right{
            left:  $right;
        }
        .center{
            left: $center;
        }

        .bigCard{
            width: $bigSize;
            height: $bigSize;
        }

        .smallWrap{
            width: 14rem;
        }

       
        @keyframes Hidden1_Left{
            100%{
                width: $smallSize;
                height: $smallSize;
                opacity: 0;
            }
        }
        
        @keyframes Hidden1_Right{
            100%{
                 left:$left;
                width: $smallSize;
                height: $smallSize;
                opacity: 1;
                 
            }
        }
        
        @keyframes card_2_Left{
            100%{
                 left:$right;
                width: $smallSize;
                height: $smallSize;
                 display: block;
                 transform: perspective(800px) rotateY(-12deg);
                 opacity: 0.9; 
            }
        }
        
        @keyframes card_2_Right{
            100%{
                 left:$left;
                width: $smallSize;
                height: $smallSize;
                transform: perspective(800px) rotateY(12deg);
                opacity: 0.9;
            }
        }
        
        @keyframes card_1_Right{
            100%{
                left:-115%;
                width: $smallSize;
                height: $smallSize;
        
            }
        }
        
        
        @keyframes card_1_Left{
            100%{
                left:$center;
                width: $bigSize;
                height: $bigSize;
                transform: perspective(800px) rotateY(0deg);
                box-shadow: 12px 12px 12px 1px rgb(0 0 0 / 20%);
                 
            }
        }
        
        @keyframes hidden2_Left{
            100%{
                display: block;
                left: $right;
                width: $smallSize;
                height: $smallSize;
                opacity: 1;
                transform: perspective(800px) rotateY(-12deg);
                 
            }
        }
        
        
        @keyframes Card_3_Left{
            100%{
                left: 135%;
                width: $smallSize;
                height: $smallSize;
                opacity: 0;
                 
            }
        }
        
        @keyframes Card_3_Right{
            100%{
                left:$center;
                width: $bigSize;
                height: $bigSize;
                transform: perspective(800px) rotateY(0deg);
                box-shadow: 12px 12px 12px 1px rgb(0 0 0 / 20%);
            }
        }
}

@media only screen and (max-width:1200px) {
    $right :calc(100% - 195px - 69px) !global;     
    $center: calc(53.5% - 334px + 150px) !global;
    $smallSize:200px !global;
    $bigSize:250px !global;
    
        .smallCard{
            width: $smallSize;
            height: $smallSize;
        }

        .right{
            left:  $right;
        }
        .center{
            left: $center;
        }

        .bigCard{
            width: $bigSize;
            height: $bigSize;
        }

        .smallWrap{
            width: 14rem;
        }

        .container{
            width: 75%;
        }

       
        @keyframes Hidden1_Left{
            100%{
                width: $smallSize;
                height: $smallSize;
                opacity: 0;
            }
        }
        
        @keyframes Hidden1_Right{
            100%{
                 left:$left;
                width: $smallSize;
                height: $smallSize;
                opacity: 1;
                 
            }
        }
        
        @keyframes card_2_Left{
            100%{
                 left:$right;
                width: $smallSize;
                height: $smallSize;
                 display: block;
                 transform: perspective(800px) rotateY(-12deg);
                 opacity: 0.9; 
            }
        }
        
        @keyframes card_2_Right{
            100%{
                 left:$left;
                width: $smallSize;
                height: $smallSize;
                transform: perspective(800px) rotateY(12deg);
                opacity: 0.9;
            }
        }
        
        @keyframes card_1_Right{
            100%{
                left:-115%;
                width: $smallSize;
                height: $smallSize;
        
            }
        }
        
        
        @keyframes card_1_Left{
            100%{
                left:$center;
                width: $bigSize;
                height: $bigSize;
                transform: perspective(800px) rotateY(0deg);
                box-shadow: 12px 12px 12px 1px rgb(0 0 0 / 20%);
                 
            }
        }
        
        @keyframes hidden2_Left{
            100%{
                display: block;
                left: $right;
                width: $smallSize;
                height: $smallSize;
                opacity: 1;

        transform: perspective(800px) rotateY(-12deg);
                 
            }
        }
        
        
        @keyframes Card_3_Left{
            100%{
                left: 135%;
                width: $smallSize;
                height: $smallSize;
                opacity: 0;
                 
            }
        }
        
        @keyframes Card_3_Right{
            100%{
                left:$center;
                width: $bigSize;
                height: $bigSize;
                transform: perspective(800px) rotateY(0deg);
                box-shadow: 12px 12px 12px 1px rgb(0 0 0 / 20%);
            }
        }
}


@media only screen and (max-width:1065px) {
    .container{
        width:85%;
    }
}

@media only screen and (max-width:940px) {
    .container{
        width:100%;
    }
}


@media only screen and (max-width:800px) {

    $smallSize : 250px;
    $bigSize :300px;
    $right :calc(100% - 209px) !global;     
    $left: -119px !global;
    $center:calc(48.4% - 332px + 154px);

    .container{
        min-width:735px;
    }

    .smallCard{
        width: $smallSize;
        height: $smallSize;
    }

    .right{
        left:  $right;
    }
    .left{
        left:$left;
    }
    .center{
        left: $center;
    }

    .bigCard{
        width: $bigSize;
        height: $bigSize;
    }

    @keyframes Hidden1_Left{
        100%{
            width: $smallSize;
            height: $smallSize;
            opacity: 0;
        }
    }
    
    @keyframes Hidden1_Right{
        100%{
             left:$left;
            width: $smallSize;
            height: $smallSize;
            opacity: 1;
             
        }
    }
    
    @keyframes card_2_Left{
        100%{
             left:$right;
            width: $smallSize;
            height: $smallSize;
             display: block;
             transform: perspective(800px) rotateY(-12deg);
             opacity: 0.9; 
        }
    }
    
    @keyframes card_2_Right{
        100%{
             left:$left;
            width: $smallSize;
            height: $smallSize;
            transform: perspective(800px) rotateY(12deg);
            opacity: 0.9;
        }
    }
    
    @keyframes card_1_Right{
        100%{
            left:-115%;
            width: $smallSize;
            height: $smallSize;
    
        }
    }
    
    
    @keyframes card_1_Left{
        100%{
            left:$center;
            width: $bigSize;
            height: $bigSize;
            transform: perspective(800px) rotateY(0deg);
            box-shadow: 12px 12px 12px 1px rgb(0 0 0 / 20%);
             
        }
    }
    
    @keyframes hidden2_Left{
        100%{
            display: block;
            left: $right;
            width: $smallSize;
            height: $smallSize;
            opacity: 1;
        transform: perspective(800px) rotateY(-12deg);
             
        }
    }
    
    
    @keyframes Card_3_Left{
        100%{
            left: 135%;
            width: $smallSize;
            height: $smallSize;
            opacity: 0;
             
        }
    }
    
    @keyframes Card_3_Right{
        100%{
            left:$center;
            width: $bigSize;
            height: $bigSize;
            transform: perspective(800px) rotateY(0deg);
            box-shadow: 12px 12px 12px 1px rgb(0 0 0 / 20%);
        }
    }
}

