body {
  margin: 0;
}

.bodyContainer {
  width: 100%;
  height: 570px;
  background-color: #F1F1F1;
  overflow: hidden;
  position: relative;
  min-width: 1366px;
}

.buttons {
  position: absolute;
  bottom: 28%;
  left: 48%;
}

.smallCard {
  position: absolute;
  padding: 15px;
  margin: 15px;
  width: 350px;
  height: 227.5px;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
}

#title {
  font-size: 30px;
  text-align: center;
  padding: 35px;
  font-weight: bold;
}

.bigCard {
  position: relative;
  padding: 15px;
  margin: 15px;
  width: 430px;
  height: 279.5px;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  bottom: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow-x: hidden;
  min-width: 1340px;
}

.smallWrap {
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.smallWrap .bigTitle {
  font-size: 30px;
  text-align: right;
  margin: 0;
  color: #15B2B2;
  padding: 5px;
}
.smallWrap .bigDesciption {
  font-size: 18px;
  margin: 0;
  text-align: right;
  padding: 12px;
}
.smallWrap .smallTitle {
  font-size: 30px;
  text-align: right;
  margin: 0;
  color: #15B2B2;
  padding: 5px;
}
.smallWrap .smallDesciption {
  font-size: 18px;
  margin: 0;
  text-align: right;
  padding: 12px;
}

.clickLeft {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.clickRight {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#hidden1 {
  left: -350px;
  opacity: 0;
  bottom: 250px;
}

.hidden2 {
  display: block;
  left: 135%;
  opacity: 0;
  bottom: 250px;
}

.leftArrow {
  width: 40px;
  height: 40px;
  background-color: white;
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.rightArrow {
  width: 40px;
  height: 40px;
  background-color: white;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
}

.left {
  left: 50px;
  bottom: 250px;
}

.right {
  left: calc(100% - 444px);
  bottom: 250px;
}

.center {
  left: calc(50% - 237px);
}

.useAnimation_Hidden1_Left {
  -webkit-animation-name: Hidden1_Left;
          animation-name: Hidden1_Left;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes Hidden1_Left {
  100% {
    width: 350px;
    height: 227.5px;
    opacity: 0;
  }
}

@keyframes Hidden1_Left {
  100% {
    width: 350px;
    height: 227.5px;
    opacity: 0;
  }
}
.useAnimation_Hidden1_Right {
  -webkit-animation-name: Hidden1_Right;
          animation-name: Hidden1_Right;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes Hidden1_Right {
  100% {
    left: 50px;
    width: 350px;
    height: 227.5px;
    opacity: 1;
  }
}

@keyframes Hidden1_Right {
  100% {
    left: 50px;
    width: 350px;
    height: 227.5px;
    opacity: 1;
  }
}
.useAnimation_card_2_Left {
  -webkit-animation-name: card_2_Left;
          animation-name: card_2_Left;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes card_2_Left {
  100% {
    left: calc(100% - 444px);
    width: 350px;
    height: 227.5px;
    bottom: -33px;
  }
}

@keyframes card_2_Left {
  100% {
    left: calc(100% - 444px);
    width: 350px;
    height: 227.5px;
    bottom: -33px;
  }
}
.useAnimation_card_2_Right {
  -webkit-animation-name: card_2_Right;
          animation-name: card_2_Right;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes card_2_Right {
  100% {
    left: 50px;
    width: 350px;
    height: 227.5px;
    bottom: -32px;
  }
}

@keyframes card_2_Right {
  100% {
    left: 50px;
    width: 350px;
    height: 227.5px;
    bottom: -32px;
  }
}
.useAnimation_card_1_Right {
  -webkit-animation-name: card_1_Right;
          animation-name: card_1_Right;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes card_1_Right {
  100% {
    left: -115%;
    width: 350px;
    height: 227.5px;
  }
}

@keyframes card_1_Right {
  100% {
    left: -115%;
    width: 350px;
    height: 227.5px;
  }
}
.useAnimation_card_1_Left {
  -webkit-animation-name: card_1_Left;
          animation-name: card_1_Left;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes card_1_Left {
  100% {
    left: calc(50% - 237px);
    width: 430px;
    height: 279.5px;
    bottom: 230px;
  }
}

@keyframes card_1_Left {
  100% {
    left: calc(50% - 237px);
    width: 430px;
    height: 279.5px;
    bottom: 230px;
  }
}
.useAnimation_hidden2_Left {
  -webkit-animation-name: hidden2_Left;
          animation-name: hidden2_Left;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes hidden2_Left {
  100% {
    display: block;
    left: calc(100% - 444px);
    width: 350px;
    height: 227.5px;
    opacity: 1;
  }
}

@keyframes hidden2_Left {
  100% {
    display: block;
    left: calc(100% - 444px);
    width: 350px;
    height: 227.5px;
    opacity: 1;
  }
}
.useAnimationLeftCard_3_Left {
  -webkit-animation-name: Card_3_Left;
          animation-name: Card_3_Left;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes Card_3_Left {
  100% {
    left: 135%;
    width: 350px;
    height: 227.5px;
    opacity: 0;
  }
}

@keyframes Card_3_Left {
  100% {
    left: 135%;
    width: 350px;
    height: 227.5px;
    opacity: 0;
  }
}
.useAnimationLeftCard_3_Right {
  -webkit-animation-name: Card_3_Right;
          animation-name: Card_3_Right;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes Card_3_Right {
  100% {
    left: calc(50% - 237px);
    width: 430px;
    height: 279.5px;
    bottom: 230px;
  }
}

@keyframes Card_3_Right {
  100% {
    left: calc(50% - 237px);
    width: 430px;
    height: 279.5px;
    bottom: 230px;
  }
}
@media only screen and (max-width: 800px) {
  #hidden1 {
    left: -170%;
    opacity: 0;
    bottom: 250px;
  }
  #hidden2 {
    left: 170%;
    opacity: 0;
    bottom: 250px;
  }
  .center {
    left: calc(40% - 292px);
  }
  .right {
    left: calc(100% - 194px);
    bottom: 300px;
  }
  .left {
    left: -572px;
    bottom: 300px;
  }
  .leftArrow {
    width: 40px;
    height: 40px;
    background-color: white;
    padding: 5px;
    margin-right: 5px;
    position: absolute;
    position: absolute;
    left: -555px;
    bottom: -82px;
    border-radius: 5px;
  }
  .rightArrow {
    width: 40px;
    height: 40px;
    background-color: white;
    padding: 5px;
    margin-left: 5px;
    position: absolute;
    left: 0;
    bottom: -115px;
    position: absolute;
    left: 555px;
    bottom: -82px;
    border-radius: 5px;
  }
  .bodyContainer {
    height: 1100px;
  }
  .bigCard {
    width: 800px;
    height: 800px;
    bottom: 0;
  }
  .smallCard {
    width: 700px;
    height: 700px;
  }
  .smallWrap .bigTitle {
    font-size: 81px;
    text-align: center;
    margin: 0;
    color: #15B2B2;
    padding: 5px;
  }
  .smallWrap .bigDesciption {
    margin: 0;
    text-align: center;
    padding: 12px;
    font-size: 47px;
    /* font-weight: bold; */
  }
  .smallWrap .smallTitle {
    font-size: 81px;
    text-align: center;
    margin: 0;
    color: #15B2B2;
    padding: 5px;
  }
  .smallWrap .smallDesciption {
    font-size: 47px;
    margin: 0;
    text-align: center;
    padding: 12px;
    /* font-weight: bold; */
  }
  #title {
    font-size: 99px;
    text-align: center;
    padding: 0;
    font-weight: bold;
    margin: 0;
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @-webkit-keyframes Hidden1_Left {
    100% {
      width: 700px;
      height: 700px;
      opacity: 0;
    }
  }
  @keyframes Hidden1_Left {
    100% {
      width: 700px;
      height: 700px;
      opacity: 0;
    }
  }
  @-webkit-keyframes Hidden1_Right {
    100% {
      left: -572px;
      width: 700px;
      height: 700px;
      opacity: 1;
      bottom: 300px;
    }
  }
  @keyframes Hidden1_Right {
    100% {
      left: -572px;
      width: 700px;
      height: 700px;
      opacity: 1;
      bottom: 300px;
    }
  }
  @-webkit-keyframes card_2_Left {
    100% {
      left: calc(100% - 194px);
      width: 700px;
      height: 700px;
      display: block;
      opacity: 0.9;
      bottom: -40px;
    }
  }
  @keyframes card_2_Left {
    100% {
      left: calc(100% - 194px);
      width: 700px;
      height: 700px;
      display: block;
      opacity: 0.9;
      bottom: -40px;
    }
  }
  @-webkit-keyframes card_2_Right {
    100% {
      left: -572px;
      width: 700px;
      height: 700px;
      opacity: 0.9;
      bottom: -40px;
    }
  }
  @keyframes card_2_Right {
    100% {
      left: -572px;
      width: 700px;
      height: 700px;
      opacity: 0.9;
      bottom: -40px;
    }
  }
  @-webkit-keyframes card_1_Right {
    100% {
      left: -115%;
      width: 700px;
      height: 700px;
    }
  }
  @keyframes card_1_Right {
    100% {
      left: -115%;
      width: 700px;
      height: 700px;
    }
  }
  @-webkit-keyframes card_1_Left {
    100% {
      left: calc(40% - 292px);
      width: 800px;
      height: 800px;
      bottom: 240px;
    }
  }
  @keyframes card_1_Left {
    100% {
      left: calc(40% - 292px);
      width: 800px;
      height: 800px;
      bottom: 240px;
    }
  }
  @-webkit-keyframes hidden2_Left {
    100% {
      display: block;
      left: calc(100% - 194px);
      width: 700px;
      height: 700px;
      opacity: 1;
      bottom: 300px;
    }
  }
  @keyframes hidden2_Left {
    100% {
      display: block;
      left: calc(100% - 194px);
      width: 700px;
      height: 700px;
      opacity: 1;
      bottom: 300px;
    }
  }
  @-webkit-keyframes Card_3_Left {
    100% {
      left: 135%;
      width: 700px;
      height: 700px;
      opacity: 0;
    }
  }
  @keyframes Card_3_Left {
    100% {
      left: 135%;
      width: 700px;
      height: 700px;
      opacity: 0;
    }
  }
  @-webkit-keyframes Card_3_Right {
    100% {
      left: calc(40% - 292px);
      width: 800px;
      height: 800px;
      bottom: 240px;
    }
  }
  @keyframes Card_3_Right {
    100% {
      left: calc(40% - 292px);
      width: 800px;
      height: 800px;
      bottom: 240px;
    }
  }
}/*# sourceMappingURL=style.css.map */