$center :  calc(50% - 237px);
$left : 50px;
$right : calc(100% - 444px);
$smallSize:350px;
$bigSize:430px;
$bottom:250px;

body{
    margin:0;
}
.bodyContainer{
    width: 100%;
    height: 570px;
    background-color: #F1F1F1;
    overflow: hidden;
    position: relative;
    // min-width: 1400px;
    min-width: 1366px;
}

.buttons{
    position: absolute;
    bottom: 28%;
    left: 48%;
}

.smallCard{
    position: absolute;
    // border: 1px solid black;
    padding: 15px;
    margin: 15px;
    width: $smallSize;
    height: calc(0.65*$smallSize);
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    // //box-shadow: 12px 12px 2px 1px rgb(0 0 0 / 20%);
    // background: linear-gradient(32deg, #3f9dff, #0000003a);
}
#title{
    font-size: 30px;
    text-align: center;
    padding: 35px;
    font-weight: bold;
}
.bigCard{
    position: relative;
    // border: 1px solid black;
    padding: 15px;
    margin: 15px;
    width: $bigSize;
    height: calc(0.65*$bigSize);
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    bottom: 0;
    // //box-shadow: 12px 12px 12px 1px rgb(0 0 0 / 20%);
    // background: linear-gradient(32deg, #3f9dff, #3f9cff46);
}
.container{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    // border: 1px solid black;
    overflow-x: hidden;
    // border-radius: 15px;
    min-width: 1340px;
}

.smallWrap{
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;

    .bigTitle{
        font-size: 30px;
        text-align: right;
        margin: 0;
        color: #15B2B2;
        padding: 5px;
    }
    .bigDesciption{
        font-size: 18px;
        margin: 0;
    text-align: right;
    padding: 12px;
    }

    .smallTitle{
        font-size: 30px;
        text-align: right;
        margin: 0;
        color: #15B2B2;
        padding: 5px;
    }

    .smallDesciption{
        font-size: 18px;
        margin: 0;
    text-align: right;
    padding: 12px;
    }

}

.clickLeft{
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.clickRight{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#hidden1{
    left:-350px;
    opacity: 0;
    bottom: $bottom;
}
.hidden2{
    display: block;
    left: 135%;
    opacity: 0;
    bottom: $bottom;
}

.leftArrow{
    width: 40px;
    height: 40px;
    background-color: white;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
}
.rightArrow{
    width: 40px;
    height: 40px;
    background-color: white;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
}
.left{
        left:$left;
        // //transform: perspective(800px) rotateY(12deg);
        // opacity: 0.9;
        bottom: $bottom;

    }
    
    .right{
        left:$right;
        // //transform: perspective(800px) rotateY(-12deg);
        // opacity: 0.9;
        bottom: $bottom;

    }
    .center{
        left: $center;
    }



//! hidden 1 left side animation
.useAnimation_Hidden1_Left{
    animation-name: Hidden1_Left;
    animation-duration: 1.5s;
  
}
@keyframes Hidden1_Left{
    100%{
        width: $smallSize;
        height: calc(0.65*$smallSize);
        opacity: 0;
      
    }
}
.useAnimation_Hidden1_Right{
    animation-name: Hidden1_Right;
    animation-duration: 1.5s;
}
@keyframes Hidden1_Right{
    100%{
         left:$left;
        width: $smallSize;
        height: calc(0.65*$smallSize);
        opacity: 1;
         
    }
}

//! center animation
.useAnimation_card_2_Left{
    animation-name: card_2_Left;
    animation-duration: 1.5s;
}
@keyframes card_2_Left{
    100%{
         left:$right;
         width: $smallSize;
         height: calc(0.65*$smallSize);
         bottom: -33px;
          
    }
}
.useAnimation_card_2_Right{
    animation-name: card_2_Right;
    animation-duration: 1.5s;
}
@keyframes card_2_Right{
    100%{
         left:$left;
        width: $smallSize;
        height: calc(0.65*$smallSize);
       bottom: -32px;
         
    }
}

//! right animation

.useAnimation_card_1_Right{
    animation-name: card_1_Right;
    animation-duration: 1.5s;
}
@keyframes card_1_Right{
    100%{
        left:-115%;
        width: $smallSize;
        height: calc(0.65*$smallSize);
        

    }
}

.useAnimation_card_1_Left{
    animation-name: card_1_Left;
    animation-duration: 1.5s;
}
@keyframes card_1_Left{
    100%{
        left:$center;
        width: $bigSize;
        height: calc(0.65*$bigSize);
        bottom: 230px;
        //transform: perspective(800px) rotateY(0deg);
        //box-shadow: 12px 12px 12px 1px rgb(0 0 0 / 20%);
    }
    
}

//! hidden 2 right side animation
.useAnimation_hidden2_Left{
    animation-name: hidden2_Left;
    animation-duration: 1.5s;
}
@keyframes hidden2_Left{
    100%{
        display: block;
        left: $right;
        width: $smallSize;
        height: calc(0.65*$smallSize);
        opacity: 1;
        //transform: perspective(800px) rotateY(-12deg);
         
    }
}

//! Right Card number 3 animation
.useAnimationLeftCard_3_Left{
    animation-name: Card_3_Left;
    animation-duration: 1.5s;
}
@keyframes Card_3_Left{
    100%{
        left: 135%;
        width: $smallSize;
        height: calc(0.65*$smallSize);
        opacity: 0;
         
    }
}

.useAnimationLeftCard_3_Right{
    animation-name: Card_3_Right;
    animation-duration: 1.5s;
}
@keyframes Card_3_Right{
    100%{
        left:$center;
        width: $bigSize;
        height: calc(0.65*$bigSize);
        bottom: 230px;
    }
}


@media only screen and (max-width:800px) {

    $center : calc(40% - 292px) !global;
    $right : calc(100% - 194px) !global;
    $left:-572px !global;
    $smallSize:700px !global;
    $bigSize:800px !global;


    .container{
        // min-width: 780px;
    }

    #hidden1 {
        left: -170%;
        opacity: 0;
        bottom: 250px;
    }
    #hidden2 {
        left: 170%;
        opacity: 0;
        bottom: 250px;
    }


    .center {
        left: $center;
    }

    .right {
        left: $right;
        bottom: 300px;
    }
    .left{
        left: $left;
        bottom: 300px;
    }


    .leftArrow {
        width: 40px;
        height: 40px;
        background-color: white;
        padding: 5px;
        margin-right: 5px;
        position: absolute;
        position: absolute;
        left: -555px;
        bottom: -82px;
        border-radius: 5px;
    }

.rightArrow {
    width: 40px;
    height: 40px;
    background-color: white;
    padding: 5px;
    margin-left: 5px;
    position: absolute;
    left: 0;
    bottom: -115px;
    position: absolute;
    left: 555px;
    bottom: -82px;
    border-radius: 5px;
}

        .bodyContainer{
            height: 1100px;
        }

        .bigCard {
            width: $bigSize;
            height: $bigSize;
            bottom: 0;
        }
        .smallCard{
            width:$smallSize;
            height: $smallSize;
        }
        
        .smallWrap .bigTitle {
            font-size: 81px;
            text-align: center;
            margin: 0;
            color: #15B2B2;
            padding: 5px;
        }

        .smallWrap .bigDesciption {
            margin: 0;
            text-align: center;
            padding: 12px;
            font-size: 47px;
            /* font-weight: bold; */
        }

        .smallWrap .smallTitle {
            font-size: 81px;
            text-align: center;
            margin: 0;
            color: #15B2B2;
            padding: 5px;
        }

        .smallWrap .smallDesciption {
            font-size: 47px;
                        margin: 0;
            text-align: center;
            padding: 12px;
            /* font-weight: bold; */
        }

        #title {
            font-size: 99px;
            text-align: center;
            padding: 0;
            font-weight: bold;
            margin: 0;
            min-height: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
        }



    @keyframes Hidden1_Left{
        100%{
            width: $smallSize;
            height: $smallSize;
            opacity: 0;
        }
    }
    
    @keyframes Hidden1_Right{
        100%{
             left:$left;
            width: $smallSize;
            height: $smallSize;
            opacity: 1;
            bottom: 300px;
           // left: -573px;
             
        }
    }
    
    @keyframes card_2_Left{
        100%{
             left:$right;
            width: $smallSize;
            height: $smallSize;
             display: block;
             opacity: 0.9; 
             bottom: -40px;
        }
    }
    
    @keyframes card_2_Right{
        100%{
             left:$left;
            width: $smallSize;
            height: $smallSize;
            opacity: 0.9;
            bottom: -40px;
        }
    }
    
    @keyframes card_1_Right{
        100%{
            left:-115%;
            width: $smallSize;
            height: $smallSize;
    
        }
    }
    
    
    @keyframes card_1_Left{
        100%{
            left:$center;
            width: $bigSize;
            height: $bigSize;
            bottom: 240px;
             
        }
    }
    
    @keyframes hidden2_Left{
        100%{
            display: block;
            left: $right;
            width: $smallSize;
            height: $smallSize;
            opacity: 1;
            bottom: 300px;
             
        }
    }
    
    
    @keyframes Card_3_Left{
        100%{
            left: 135%;
            width: $smallSize;
            height: $smallSize;
            opacity: 0;
             
        }
    }
    
    @keyframes Card_3_Right{
        100%{
            left:$center;
            width: $bigSize;
            height:$bigSize;
            bottom: 240px;
        }
    }
}

