//~~~~~~~~~~~~~~~~~~ @ TitleIcon @ ~~~~~~~~~~~~~~~~~~
$colorTitleIcon1:#5B157A;
$colorTitleIcon2:#15B2B2;
$colorTitleIcon3:#FE8B1F;
$colorTitleIcon4:#8DC63F;
$colorTitleIcon5:#FDB913;
$colorTitleIcon6:#EC008C;
//~~~~~~~~~~~~~~~~~~ @ Buttons @ ~~~~~~~~~~~~~~~~~~
$colorButtonSubmit:#FE8C19;
$colorButtonSubmitHover:rgba(254, 140, 25, 1);
$colorProfileTitle:#15B2B2;
//~~~~~~~~~~~~~~~~~~ @ sections @ ~~~~~~~~~~~~~~~~~~
$colorBackgroundTopPanel:#464646;
// $colorBackgroundHeader:transparent radial-gradient( #15B2B2 20%, #0B5959 100%);
$colorBackgroundHeader:transparent radial-gradient( farthest-side at 30% 50%, #15B2B2 0%, #0B5959 400%);
$colorEvenSection:#efefef;
$colorOddSection:#fefefe;
$colorMainTitle:#FFFFFF;