@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
$fontFamily: 'Open Sans';
$fontWeightTitle: bold;
$fontWeightSub: normal;
$fontSizeWeb-General-10:10px;
// 16px man webs
$maxWidthScreenMobile:768px;
$WidthScreenLaptop:1250px;
$fontSizeSubTitle-16: 1.6rem;
$fontSizeTitleForm-22: 2.2rem;
$fontSizeWeb-18: 1.8rem;
$fontSizeSubTitleSmall-14: 1.4rem;
// @~~~~~~~~~~~~~~~~~~~~~@   Mobile settings   @~~~~~~~~~~~~~~~~~~~~~@ 
$fontSizeMainTitle-Mobile-60: 6.0rem;
$fontSizeTitle-32: 3.2rem;
$fontSizeDescMainTitle-Mobile-16: 1.6rem;
$iconWidthSize-Mobile: 42px;
$imgWidthSize-Mobile: 80%;
$logoImgWidth-Mobile:105px;
$sizeRadius-Mobile:6px;
$DisplayConditionsMobile:'';
// @~~~~~~~~~~~~~~~~~~~~~@   PC settings   @~~~~~~~~~~~~~~~~~~~~~@  
$fontSizeMainTitle-Pc-118: 11.8rem;
$fontSizeSubMainTitle-Pc-46: 4.6rem;
$fontSizeDescMainTitle-Pc-26: 2.6rem;
$logoImgWidth-Pc:110px;
$iconWidthSize-Pc: 59px;
$imgWidthSize-Pc: 84.5%;
$sizeRadius-Pc:8px;
// clamp
$fontSizeClamp118to60:6.2em;
$fontSizeClamp60to46:3.2em;
$fontSizeClamp26to16:1.4em;
$fontSizeClamp18to16:0.9em;
$fontSizeClamp26to18:1.4em;
$fontSizeClamp22to14:1.1em;
$fontSizeClamp22to16:1.15em;
$fontSizeClamp32to22:1.7em;
$queryLandscape: (orientation: landscape);
$queryMaxHeightToPhone: (max-height: $maxWidthScreenMobile);
$queryMaxWidthToPhone: (max-width: $maxWidthScreenMobile);
// $Phone:only screen and #{($queryMaxWidthToPhone)},
// #{queryLandscape} and #{queryMaxHeightToPhone};
@mixin queryMaxHeightToPhone {
    max-height: $maxWidthScreenMobile;
}

@mixin queryMaxWidthToPhone {
    max-width: $maxWidthScreenMobile;
}

@mixin queryLandscape {
    orientation: landscape;
}