:root {
  --center: calc(50% - 310px);
  --left: 0px;
  --right:calc(100% - 540px);
  --smallSize:482px;
  --bigSize:560px;
  --bottom_LaR:408px;
  --bottom_C:0;
  --titleFontSize:2.1rem;
  --descriptionFontSize:1.5rem;
  --animation_bottom_center:376px;
  --animation_bottom_leftOrRight:-19px;
  --animation_card_height_from_small_to_big:calc(0.65*var(--bigSize));
  --animation_card_height_from_big_to_small:calc(0.65*var(--smallSize));
}

@media (max-width: 800px) {
  :root {
    --bottom_C:12px;
    --bottom_LaR:260px;
    --smallSize:185px;
    --animation_bottom_center:248px;
    --animation_bottom_leftOrRight:14px;
    --animation_card_height_from_small_to_big:var(--bigSize);
    --animation_card_height_from_big_to_small:var(--smallSize);
    --titleFontSize:1.5rem;
    --descriptionFontSize:1rem;
  }
  .bigCard {
    width: var(--bigSize);
    height: calc(var(--bigSize));
  }
  .smallCard {
    width: var(--smallSize);
    height: calc(var(--smallSize));
  }
  .bodyContainer {
    height: 491px;
    min-width: 360px;
  }
  .leftArrow {
    position: absolute;
    left: -110px;
    bottom: 80px;
    width: 20px;
    height: 20px;
    background-color: #1b344c;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
  }
  .rightArrow {
    position: absolute;
    bottom: 80px;
    width: 20px;
    height: 20px;
    background-color: #1b344c;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    transform: rotate(0deg);
    left: 205px;
  }
  .bigDesciption, .smallDesciption {
    width: 160px;
    padding-left: 0;
  }
  #title {
    font-size: 40px;
    padding: 25px;
  }
}
@media (min-width: 801px) {
  .bigCard {
    width: var(--bigSize);
    height: calc(0.65 * var(--bigSize));
  }
  .smallCard {
    width: var(--smallSize);
    height: calc(0.65 * var(--smallSize));
  }
  .bodyContainer {
    height: 800px;
  }
  .leftArrow {
    width: 35px;
    height: 35px;
    background-color: #1b344c;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
  }
  .rightArrow {
    width: 35px;
    height: 35px;
    background-color: #1b344c;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
    transform: rotate(0deg);
  }
  .bigTitle, .smallTitle {
    padding: 5px 5px 5px 15px;
    padding-bottom: 10px;
  }
  #title {
    font-size: 55px;
    padding: 25px;
  }
}
@media only screen and (max-width: 1660px) {
  :root {
    --left: -82px;
    --right:calc(100% - 460px);
  }
}
@media only screen and (max-width: 1504px) {
  :root {
    --left: -150px;
    --right:calc(100% - 390px);
  }
}
@media only screen and (max-width: 1370px) {
  :root {
    --left: -215px;
    --right:calc(100% - 328px);
  }
}
@media only screen and (max-width: 1250px) {
  :root {
    --left: -270px;
    --right:calc(100% - 272px);
  }
}
@media only screen and (max-width: 1115px) {
  :root {
    --left: -337px;
    --right:calc(100% - 205px);
  }
}
@media only screen and (max-width: 1000px) {
  :root {
    --left: -392px;
    --right:calc(100% - 146px);
  }
}
@media only screen and (max-width: 885px) {
  :root {
    --left: -431px;
    --right:calc(100% - 109px);
  }
}
@media only screen and (max-width: 800px) {
  :root {
    --center: calc(50% - 125.5px);
    --right:calc(100% - 242px);
    --left:0px;
    --smallSize:185px;
    --bigSize:195px;
  }
}
@media only screen and (max-width: 690px) {
  :root {
    --center: calc(50% - 127px);
    --right: calc(100% - 193px);
    --left: -50px;
    --smallSize: 185px;
    --bigSize: 195px;
  }
}
@media only screen and (max-width: 590px) {
  :root {
    --center: calc(50% - 127px);
    --right: calc(100% - 143px);
    --left: -100px;
    --smallSize: 185px;
    --bigSize: 195px;
  }
}
@media only screen and (max-width: 495px) {
  :root {
    --center: calc(50% - 127px);
    --right: calc(100% - 111px);
    --left: -133px;
    --smallSize: 185px;
    --bigSize: 195px;
  }
}
@media only screen and (max-width: 425px) {
  :root {
    --center: calc(50% - 127px);
    --right: calc(100% - 70px);
    --left: -174px;
    --smallSize: 185px;
    --bigSize: 195px;
  }
}
body {
  margin: 0;
}

.smallDesciption::-webkit-scrollbar, .bigDesciption::-webkit-scrollbar {
  width: 0.05em;
  border-radius: 15px;
}

.smallDesciption::-webkit-scrollbar-track, .bigDesciption::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
}

.smallDesciption::-webkit-scrollbar-thumb, .bigDesciption::-webkit-scrollbar-thumb {
  background-color: #1b344c;
  outline: 1px solid #f95335;
  border-radius: 15px;
}

.bodyContainer {
  direction: ltr;
  width: 100%;
  background: #002028;
  overflow: hidden;
  position: relative;
}

.buttons {
  position: absolute;
  bottom: 28%;
  left: calc(50% - 310px + 248px);
}

.smallCard {
  position: absolute;
  padding: 15px;
  margin: 15px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1019607843);
  background: #1b344c;
  overflow: hidden;
}

#title {
  text-align: center;
  font-weight: bold;
  color: #f95335;
}

.bigCard {
  position: relative;
  padding: 15px;
  margin: 15px;
  border-radius: 20px;
  cursor: pointer;
  bottom: var(--bottom_C);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background: #1b344c;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 55px;
  overflow: hidden;
}

.smallWrap {
  height: 100%;
  position: relative;
  width: 100%;
}
.smallWrap .bigTitle {
  font-size: var(--titleFontSize);
  margin: 0;
  color: #f95335;
  font-weight: bold;
  padding: 5px;
}
.smallWrap .bigDesciption {
  font-size: var(--descriptionFontSize);
  margin: 0;
  padding: 5px 5px 5px 2px;
  max-width: 417px;
  overflow: auto;
  height: 240px;
  color: white;
  font-weight: bold;
}
.smallWrap .smallTitle {
  font-size: var(--titleFontSize);
  margin: 0;
  color: #f95335;
  padding: 5px;
}
.smallWrap .smallDesciption {
  font-size: var(--descriptionFontSize);
  margin: 0;
  padding: 5px 5px 5px 2px;
  max-width: 417px;
  overflow: auto;
  height: 185px;
  color: white;
  font-weight: bold;
}

.clickLeft {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.clickRight {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#hidden1 {
  left: -100%;
  opacity: 0;
  bottom: var(--bottom_LaR);
}

.hidden2 {
  display: block;
  left: 135%;
  opacity: 0;
  bottom: var(--bottom_LaR);
}

.left {
  left: var(--left);
  bottom: var(--bottom_LaR);
}

.right {
  left: var(--right);
  bottom: var(--bottom_LaR);
}

.center {
  left: var(--center);
}

.useAnimation_center_big_to_small {
  -webkit-animation: center_big_to_small 1.5s;
          animation: center_big_to_small 1.5s;
}

@-webkit-keyframes center_big_to_small {
  100% {
    height: 185px;
  }
}

@keyframes center_big_to_small {
  100% {
    height: 185px;
  }
}
.useAnimation_LOrR_small_to_big {
  -webkit-animation: LOrR_small_to_big 1.5s;
          animation: LOrR_small_to_big 1.5s;
}

@-webkit-keyframes LOrR_small_to_big {
  100% {
    height: 240px;
  }
}

@keyframes LOrR_small_to_big {
  100% {
    height: 240px;
  }
}
.useAnimation_Hidden1_Left {
  -webkit-animation: Hidden1_Left 1.5s;
          animation: Hidden1_Left 1.5s;
}

@-webkit-keyframes Hidden1_Left {
  100% {
    opacity: 0;
  }
}

@keyframes Hidden1_Left {
  100% {
    opacity: 0;
  }
}
.useAnimation_Hidden1_Right {
  -webkit-animation: Hidden1_Right 1.5s;
          animation: Hidden1_Right 1.5s;
}

@-webkit-keyframes Hidden1_Right {
  100% {
    left: var(--left);
    opacity: 1;
    bottom: var(--bottom_LaR);
  }
}

@keyframes Hidden1_Right {
  100% {
    left: var(--left);
    opacity: 1;
    bottom: var(--bottom_LaR);
  }
}
.useAnimation_card_2_Left {
  -webkit-animation: card_2_Left 1.5s;
          animation: card_2_Left 1.5s;
}

@-webkit-keyframes card_2_Left {
  100% {
    left: var(--right);
    width: var(--smallSize);
    height: var(--animation_card_height_from_big_to_small);
    bottom: var(--animation_bottom_leftOrRight);
    box-shadow: 6px 10px 9px -1px rgba(0, 0, 0, 0);
  }
}

@keyframes card_2_Left {
  100% {
    left: var(--right);
    width: var(--smallSize);
    height: var(--animation_card_height_from_big_to_small);
    bottom: var(--animation_bottom_leftOrRight);
    box-shadow: 6px 10px 9px -1px rgba(0, 0, 0, 0);
  }
}
.useAnimation_card_2_Right {
  -webkit-animation: card_2_Right 1.5s;
          animation: card_2_Right 1.5s;
}

@-webkit-keyframes card_2_Right {
  100% {
    left: var(--left);
    width: var(--smallSize);
    height: var(--animation_card_height_from_big_to_small);
    bottom: var(--animation_bottom_leftOrRight);
    box-shadow: 6px 10px 9px -1px rgba(0, 0, 0, 0);
  }
}

@keyframes card_2_Right {
  100% {
    left: var(--left);
    width: var(--smallSize);
    height: var(--animation_card_height_from_big_to_small);
    bottom: var(--animation_bottom_leftOrRight);
    box-shadow: 6px 10px 9px -1px rgba(0, 0, 0, 0);
  }
}
.useAnimation_card_1_Right {
  -webkit-animation: card_1_Right 1.5s;
          animation: card_1_Right 1.5s;
}

@-webkit-keyframes card_1_Right {
  100% {
    left: -115%;
    width: var(--smallSize);
    height: calc(0.65 * var(--smallSize));
  }
}

@keyframes card_1_Right {
  100% {
    left: -115%;
    width: var(--smallSize);
    height: calc(0.65 * var(--smallSize));
  }
}
.useAnimation_card_1_Left {
  -webkit-animation: card_1_Left 1.5s;
          animation: card_1_Left 1.5s;
}

@-webkit-keyframes card_1_Left {
  100% {
    left: var(--center);
    width: var(--bigSize);
    height: var(--animation_card_height_from_small_to_big);
    bottom: var(--animation_bottom_center);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
}

@keyframes card_1_Left {
  100% {
    left: var(--center);
    width: var(--bigSize);
    height: var(--animation_card_height_from_small_to_big);
    bottom: var(--animation_bottom_center);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
}
.useAnimation_hidden2_Left {
  -webkit-animation: hidden2_Left 1.5s;
          animation: hidden2_Left 1.5s;
}

@-webkit-keyframes hidden2_Left {
  100% {
    left: var(--right);
    opacity: 1;
  }
}

@keyframes hidden2_Left {
  100% {
    left: var(--right);
    opacity: 1;
  }
}
.useAnimationLeftCard_3_Left {
  -webkit-animation: Card_3_Left 1.5s;
          animation: Card_3_Left 1.5s;
}

@-webkit-keyframes Card_3_Left {
  100% {
    left: 135%;
    width: var(--smallSize);
    height: calc(0.65 * var(--smallSize));
    opacity: 0;
  }
}

@keyframes Card_3_Left {
  100% {
    left: 135%;
    width: var(--smallSize);
    height: calc(0.65 * var(--smallSize));
    opacity: 0;
  }
}
.useAnimationLeftCard_3_Right {
  -webkit-animation: Card_3_Right 1.5s;
          animation: Card_3_Right 1.5s;
}

@-webkit-keyframes Card_3_Right {
  100% {
    left: var(--center);
    width: var(--bigSize);
    height: var(--animation_card_height_from_small_to_big);
    bottom: var(--animation_bottom_center);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
}

@keyframes Card_3_Right {
  100% {
    left: var(--center);
    width: var(--bigSize);
    height: var(--animation_card_height_from_small_to_big);
    bottom: var(--animation_bottom_center);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
}/*# sourceMappingURL=style.css.map */