<div>
  <!-- <div    [ngStyle]="{background:'red',width:'150px',height:'150px'}"></div> -->
  <div class="container"
  (swipeleft)="moveBetweenThreeInArrayLoop('Right')"
  (swipeRight)="moveBetweenThreeInArrayLoop('Left')"
  >
    <!-- <h1>{{sort | json}}</h1> -->
      <div class="smallCard left" id="hidden1"

      [ngClass]="{'useAnimation_Hidden1_Right': updateLeft === true, 'useAnimation_Hidden1_Left': updateLeft === false}"
      >
      <div class="smallWrap">

        <h1 class="smallTitle">
          {{arr[hidden].name}}
        </h1>
        <p class="smallDesciption">
          {{arr[hidden].description}}
        </p>
      </div>
    </div>

      <div class="smallCard left "
      (click)=" updateLeft !== 'ready' ? false :  moveBetweenThreeInArrayLoop('Left')"
      [ngClass]="{'useAnimation_card_1_Left': updateLeft === true, 'useAnimation_card_1_Right': updateLeft === false}"
      >
      <div class="smallWrap">
        <h1 class="smallTitle"  [ngClass]="{'useAnimation_text_smallToBig_title': updateLeft === true}">
          {{arr[sort[0]].name}}
        </h1>
        <p class="smallDesciption" [ngClass]="{'useAnimation_text_smallToBig_p': updateLeft === true}">
          {{arr[sort[0]].description}}
        </p>
      </div>
      </div>
    
    
      <div class="bigCard center  "
      [ngClass]="{'useAnimation_card_2_Left': updateLeft === true, 'useAnimation_card_2_Right': updateLeft === false}"
      >
      <div class="smallWrap"
      >
      <h1 class="bigTitle"
      [ngClass]="{'useAnimation_text_bigToSmall_title': updateLeft !== 'ready'}"
      >
            {{arr[sort[1]].name}}
        </h1>
        <p class="bigDesciption"
        [ngClass]="{'useAnimation_text_bigToSmall_p': updateLeft !== 'ready'}"
        >
            {{arr[sort[1]].description}}
        </p>
      </div>
      </div>

    
    
      <div 
      class="smallCard right " 
      (click)=" updateLeft !== 'ready' ? false :  moveBetweenThreeInArrayLoop('Right')" 
      [ngClass]="{'useAnimationLeftCard_3_Left': updateLeft === true, 'useAnimationLeftCard_3_Right': updateLeft === false}"
      >
      <div class="smallWrap">
        <h1 class="smallTitle"  [ngClass]="{'useAnimation_text_smallToBig_title': updateLeft === false}">
            {{arr[sort[2]].name}}   

        </h1>
        <p class="smallDesciption" [ngClass]="{'useAnimation_text_smallToBig_p': updateLeft === false}">
            {{arr[sort[2]].description}}
        </p>
      </div>
      </div>

      <div class="smallCard hidden2"
      [ngClass]="{ 'useAnimationRight2_Hidden': updateLeft === true,'useAnimation_hidden2_Left': updateLeft === false}"
      >
      <div class="smallWrap">
        <h1 class="smallTitle">
            {{arr[hidden].name}} 
        </h1>
        <p class="smallDesciption">
            {{arr[hidden].description}}
        </p>
      </div>
      </div>
      <div class="buttons">
      
        <img class="leftArrow" (click)=" updateLeft !== 'ready' ? false :  moveBetweenThreeInArrayLoop('Left')" src="https://cdn3.iconfinder.com/data/icons/arrow-outline-8/32/left-256.png" alt="left">
        <img class="rightArrow"  [ngStyle]="{transform:'rotate(180deg)'}" (click)=" updateLeft !== 'ready' ? false : moveBetweenThreeInArrayLoop('Right')" src="https://cdn3.iconfinder.com/data/icons/arrow-outline-8/32/left-256.png" alt="left">
    
      </div>
      
  </div>

  
  
</div>
<router-outlet></router-outlet>
