<div>
  <div class="container">
    <!-- <h1>{{sort | json}}</h1> -->
      <div class="smallCard left" id="hidden1"
      [ngClass]="{'useAnimation_Hidden1_Right': updateLeft === true, 'useAnimation_Hidden1_Left': updateLeft === false}"
      >
        <h1 class="smallTitle">
            {{arr[hidden].name}}
        </h1>
        <p class="smallDesciption">
            {{arr[sort[0]].description}}
        </p>
      </div>

      <div class="smallCard left "
      [ngClass]="{'useAnimation_card_1_Left': updateLeft === true, 'useAnimation_card_1_Right': updateLeft === false}"
      >
      <div class="clickLeft" (click)=" updateLeft !== 'ready' ? false :  moveBetweenThreeInArrayLoop('Left')" ></div>
        <h1 class="smallTitle">
            {{arr[sort[0]].name}}
        </h1>
        <p class="smallDesciption">
            {{arr[sort[0]].description}}
        </p>
      </div>
    
    
      <div class="bigCard center "
      [ngClass]="{'useAnimation_card_2_Left': updateLeft === true, 'useAnimation_card_2_Right': updateLeft === false}"
      >
        <h1 class="bigTitle">
            {{arr[sort[1]].name}}
        </h1>
        <p class="bigDesciption">
            {{arr[sort[1]].description}}
        </p>
      </div>
    
    
      <div 
      class="smallCard right" 
      [ngClass]="{'useAnimationLeftCard_3_Left': updateLeft === true, 'useAnimationLeftCard_3_Right': updateLeft === false}"
      >
      <div class="clickRight" (click)=" updateLeft !== 'ready' ? false :  moveBetweenThreeInArrayLoop('Right')" ></div>

        <h1 class="smallTitle">
            {{arr[sort[2]].name}}   

        </h1>
        <p class="smallDesciption">
            {{arr[sort[2]].description}}
        </p>
      </div>

      <div class="smallCard hidden2"
      [ngClass]="{ 'useAnimationRight2_Hidden': updateLeft === true,'useAnimation_hidden2_Left': updateLeft === false}"
      >
        <h1 class="smallTitle">
            {{arr[hidden].name}} 
        </h1>
        <p class="smallDesciption">
            {{arr[sort[0]].description}}
        </p>
      </div>
      <div class="buttons">
      
        <img class="leftArrow" (click)=" updateLeft !== 'ready' ? false :  moveBetweenThreeInArrayLoop('Left')" src="https://cdn3.iconfinder.com/data/icons/arrow-outline-8/32/left-256.png" alt="left">
        <img class="rightArrow"  [ngStyle]="{transform:'rotate(180deg)'}" (click)=" updateLeft !== 'ready' ? false : moveBetweenThreeInArrayLoop('Right')" src="https://cdn3.iconfinder.com/data/icons/arrow-outline-8/32/left-256.png" alt="left">
    
      </div>
      
  </div>

  
  
</div>
<router-outlet></router-outlet>
